<h3>Orbit Report</h3>
<table>
  <thead>
    <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let satellites of satellites">
      <td>{{ satellites.name }}</td>
      <td [class.warning]='satellites.shouldShowWarning()'>{{ satellites.type }}</td>
      <td>{{ satellites.operational}}</td>
      <td>{{ satellites.orbitType}}</td>
      <td>{{ satellites.launchDate}}</td>
    </tr>
  </tbody>
</table>
